<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntityModelContainer" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\Users\tstivers\Documents\Visual Studio 2010\Projects\Hunt\ComputeMidwest\App_Data\HuntDB.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>