@model ComputeMidwest.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<h2>Create a New Scavenger Hunt</h2>
@using(Html.BeginForm()){

<input type="submit" value="Facebook" name="Facebook" />
<input type="submit" value="Twitter" name="Twitter"/>
}


