@{
    ViewBag.Title = "Index";
}

<h2>Creating a new Hunt</h2>

@using(Html.BeginForm()){
    <p>Name of the Hunt:</p>
    <input type="text" name="huntName" />
    <textarea name="description" cols="30" rows="2" ></textarea>
    <input type="submit" name="Create Hunt" />
}
